.mobile-add-btn {
  width: 56px;
  height: 56px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.mobile-add-btn i {
  font-size: 1.5rem;
}